{% block footer %}
    <footer class="bg-primary fixed-bottom py-1">
        <div class="row align-items-center">
            <div class="col-sm">
                <p>
                    <a class="text-decoration-none text-light" href="{{ path('demandeContact') }}">Contact</a><br>
                    <a class="text-decoration-none text-light" href="https://github.com/IMxMI">Github de Vernoux Maxime</a>
                </p>
            </div>
            <div class="col-sm text-center">
                    <img class="img-fluid h-100" src="{{ asset('assets/img/753331.jpg') }}" alt="Bateau commercial"/>
            </div>
            <div class="col-sm text-end">
                <p>
                    <a class="text-decoration-none text-light" href="#">Mentions légales</a><br>
                    <a class="text-decoration-none text-light" href="#">Plan du site</a>
                </p>
            </div>
        </div>
    </footer>
{% endblock %}
