{% block footer %}
    <footer class="bg-primary">
        <div class="row">
            <div class="col-sm">
                Contact
            </div>
            <div class="col-sm text-center">
                One of three columns
            </div>
            <div class="col-sm text-end">
                One of three columns
            </div>
        </div>
    </footer>
{% endblock %}